<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <title>password</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<style>
    body {
        background-color: #2bec7c;
        font-family: 'Oswald', sans-serif;
    }

    p {
        color: #000000;
        font-size: 20px;
    }

    .textBox {
        height: 30px;
        width: 300px;
    }

    button {
        height: 30px;
        width: 150px;
        border-radius: 8px;
        padding: 10px;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        height: 52px;
        cursor: pointer;

    }
</style>

</html>


<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>

<center>
    <h1>Your password is:</h1>
    <p id="p1" class="alert alert-info">{{ password }}</p>

    <button onclick="copyToClipboard('#p1') " class="btn btn-primary">Copy Password</button>
    <a href="{% url 'home' %}">
        <button class="btn btn-primary">Home</button>
    </a>
    <a href="{% url 'generator' %}"><button class="btn btn-primary">Back</button></a>


    <br /><br /><input class="textBox" type="text" id="" placeholder="Don`t believe me?..TEST it here..;)" />

</center>